<section class="about">
  <p class="about-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium hic
    enim soluta rerum ad asperiores repellendus, quibusdam nulla minima ducimus!
    Voluptas adipisci aliquam saepe non nemo. Ab soluta distinctio architecto.
    Rerum porro officiis expedita ut perferendis itaque. Autem non beatae a
    earum ipsum officia sit aut doloribus laudantium, minima dolor at expedita
    recusandae odit enim! Placeat laborum recusandae unde voluptatem.
  </p>
</section>
